/* font */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* reset */
@import url("./styles/reset.css");

/* variables */
@import url("./styles/variables.css");

/* common */
body {
  letter-spacing: 1px;
  /* background: var(--main-dark-color); */
  color: var(--main-font-color);
}

/* contents */
.wrap {
  overflow: hidden;     
  width: 100%;
  height: 100vh;
  position: relative;
    background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  .list{
    z-index: 10;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    ul{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      li{
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  .circle_wrap{
    width: 100%;
    height: 100%;
    perspective: 600px;
  }
  .circle {
    opacity: 0;
    width: 600px;
    height: 800px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    transform-style: preserve-3d;
    animation: cyberspace 30s linear none infinite;
    article {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: all 0.5s;
      h1 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.87rem;
        opacity: 0;
        transition: all 0.5s;
      }
      .inner {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.face1 {
        transform: rotateY(0deg) translateZ(-764px);
        .inner {
        }
      }
      &.face2 {
        transform: rotateY(45deg) translateZ(-764px);
        .inner {
        }
      }
      &.face3 {
        transform: rotateY(90deg) translateZ(-764px);
        .inner {
        }
      }
      &.face4 {
        transform: rotateY(135deg) translateZ(-764px);
        .inner {
        }
      }
      &.face5 {
        transform: rotateY(180deg) translateZ(-764px);
        .inner {
        }
      }
      &.face6 {
        transform: rotateY(225deg) translateZ(-764px);
        .inner {
        }
      }
      &.face7 {
        transform: rotateY(270deg) translateZ(-764px);
        .inner {
        }
      }
      &.face8 {
        transform: rotateY(315deg) translateZ(-764px);
        .inner {
        }
      }
    }
  }
}

 @keyframes cyberspace {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}